# Macro Instance Name    X(um)    Y(um)    Orientation
# Orientations: N (North/0 deg), S (South/180 deg), FN (Flipped North), FS (Flipped South)
u_icache_sram_0          20.0     20.0     N
u_icache_sram_1          20.0     180.0    N
u_dcache_sram_0          320.0     20.0     FN
u_dcache_sram_1          320.0     180.0     FN
